body {
    position: relative; 
    overflow: hidden; 
    background-color: black; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0; 
}
img {
    max-width: 80%; 
    height: auto; 
    display: block; 
}
.snowflake {
    position: absolute; 
    top: -10px; 
    color: white; 
    pointer-events: none; 
    animation: fall linear forwards; 
}
@keyframes fall {
    to {
        transform: translateY(100vh); 
    }
}